<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Derived Product2 Test Suite" verbose="1" parallel="tests"
       thread-count="1" configfailurepolicy="continue">
    <test name="Duplicate Hyperlink Test" annotations="JDK"
          preserve-order="true">
        <parameter name="cucumberTags" value="@Regression and not @Ignore"/>
        <classes>
            <class name="testconfig.DerivedProduct2TestRunner" />
        </classes>
    </test>
</suite>