<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Derived Product2 Test Suite" parallel="tests" thread-count="1">
    <test name="Duplicate Hyperlink Test">
        <parameter name="cucumberTags" value="@Regression and not @Ignore"/>
        <classes>
            <class name="testconfig.DerivedProduct2TestRunner" />
        </classes>
    </test>
</suite>