<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Derived Product1 Test Suite"  parallel="tests" thread-count="1">
    <test name="Validate slide details Test">
        <classes>
            <class name="testconfig.DerivedProduct1TestRunner" />
        </classes>
    </test>
</suite>